/* -------------HOVER, FOCUS CLASSES------- */
.images-label:hover, form>textarea:hover, form>input:hover, form>select:hover{
    border: 2px solid var(--hoverBorder);
    
}
.submit-btn:hover{
    border: 2px solid var(--hoverBorder);
    background-color: white;
    color: var(--hoverBorder);
    filter: brightness(0.9);
}

.images-label:focus, form>textarea:focus, form>input:focus, form>select:focus{
    border: 2px solid var(--buttonColor); 
}

.root>h1:hover{
    color: var(--hoverBorder);
}

/* ---------------ROOT-------------------- */

.root{
    width: 100vw;
    height: 90vh;
    padding-left: 50px;
}

.root>h1{
    color: var(--borderColor);
    cursor: default;
}

form{
    width: 50vw;
    height: 80vh;  
}

form>label{
    font-size: 1.2rem;
    display: block;
    margin-top: 20px;
}


form>input, form>select, form>textarea{
    border: 2px solid var(--borderColor);
    width: 45vw;
    height: 5vh;
    outline: none;
    margin-top: 5px;
}

form>select{
    font-size: 1.2rem;
}

.images-label{
    height: 5vh;
    width: 45vw;
    margin-bottom: 10px;
    text-align: center;
    border: 2px solid var(--borderColor);
}

form>textarea{
    height: 20vh;
}

.submit-btn{
    background-color: var(--buttonColor);
    color: white;
    border: none;
}