<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}

    {% comment %} common static files {% endcomment %}
    {% comment %} HEADER {% endcomment %}
    <link rel="shortcut icon" href="{% static "/images/icons/logo.png" %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static "/css/header.css" %}">
    <script src="{% static "/js/header.js" %}" defer ></script>

    
    {% comment %} <!-- INCLUDING JQUERY --> {% endcomment %}
    <script src="{% static "/js/dependencies/jquery-3.7.1.min.js" %}"></script>
    
    {% comment %} <!-- INCLUDING TOASTR LIB--> {% endcomment %}
    <link rel="stylesheet" href="{% static "/css/toastr.css" %}">
    <script src="{% static "/js/dependencies/toastr.js" %}"></script>
    
    {% comment %} BASE {% endcomment %}
    <link rel="stylesheet" href="{% static "/css/base.css" %}">
    <script src="{% static "/js/base.js" %}"></script>

    {% comment %} FOR CHAT ROOMS {% endcomment %}
    <link rel="stylesheet" href="{% static "/css/chatrooms.css" %}">
    <script defer src="{% static "/js/chat_engine.js" %}"></script>
    {% comment %} FOR CHATBOX {% endcomment %}
    <link rel="stylesheet" href="{% static "/css/chatbox.css" %}">

    {% comment %} view specific static files {% endcomment %}
    {% block static  %}
    
    {% endblock static   %}

    {% block title %}{% endblock title %}




    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{data.title}}</title>
</head>
<body>
    {% include "header.html" %}
    {% include "chatrooms.html" %}
    
    {% block content  %}
    
    {% endblock content  %}
    
    {% include "chatbox.html" %}
    <script>
        
        {% for message in messages %}
            toastr.{{ message.tags }}("{{ message }}");
        {% endfor %}
    </script>
    
</body>
</html>