
{% comment %} -----------------CHAT BOX------------------- {% endcomment %}
{% load static %}
<div class="chatbox" >

    <div class="chatbox-header" >
        <p>NAME</p>
        <img class="close-btn" src="{% static "/images/icons/close.png" %}" alt="">
    </div>

    <div class="content">
    </div>
    <div class="message-input-container" >

        <input type="text" class="message-input" placeholder="Type your message...">
        <div class="send-btn" > <p>SEND</p>  </div>
    </div>


</div>